.back-twitter {
	background: #1da1f2; 
}

.back-facebook {
	background: #3b5998;
}

.back-twitter a {
	color: #fff!important; 
}

.back-facebook a {
	color: #fff!important;
}

.sidebar__subtitle {
	cursor: pointer;
}

.notification {
	position: fixed;
	float: right;
	width: 350px;
	top: 5%;
	right: 5px;
	z-index: 10000;
	box-shadow: 0px 0px 10px #000;
	opacity: 0.95;
}

.badge {
	background: #04B404; 
	color: #fff; 
	padding: 2px 6px; 
	border-radius: 50%;
}

.button-hidden {
	display: none;
}

.seeMore a {
	background: #fe6e3a!important;
	color: #fff!important;
}

.seeMore a:hover {
	background: #ff6e5c!important;
	color: #333!important;
}

.notification_0 a {
	background: #649c59!important;
	color: #fff!important;
}

.notification_0 a:hover {
	background: #81F781!important;
	color: #444!important;
}

.notification_1 a {
	background: #D8F6CE!important;
	color: #666!important;
}

.notNotified {
	background: #50dd69;
	color: #fff!important;
	padding: 1px;
	border-bottom: 1px solid grey;
}


.notified {
	background: #ddd;
	padding: 1px;
	border-bottom: 1px solid grey;
}
